.breadcrumb {
    @extend .alignfull;
    // margin-bottom: $spacer * 3 !important;

    .breadcrumb-inner {
        @include make-container();
        @include make-container-max-widths();
    }

    p {
        margin-bottom: 0;
    }

}

.rank-math-breadcrumb a:first-child {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}