#wrapper-prefooter {
	border-top: 1px solid $gray-300;
}

#wrapper-footer-full {
	background-color: $black;
	color: $white;
	// background-color: transparent;
	padding-bottom: 0;

	a {
		color: $white;
	}

	img[src*=".svg"],
	.claim span:last-child:after,
	.wp-block-buttons .wp-block-button.is-style-outline .wp-block-button__link:after {
		filter: brightness(100);
	}
}

#wrapper-footer {
	padding-top: 0;
	background-color: $black;
	color: $white;
	font-size: $font-size-sm;

	a {
		color: $white;
	}

	@include media-breakpoint-down(sm) {
		text-align: center;
	}

}

#legal-nav {

	.nav-item {
		border: $border-width solid;
		flex-basis: 33.333333%;
		margin-right: -$border-width;
		margin-top: -$border-width;
		text-align: center;
	}
}