#wrapper-top-bar {
    padding: $spacer * .5 0;
    font-size: $font-size-sm;
    border-bottom: 1px solid $border-color;

	p {
		margin-bottom: 0;
	}
}

#main-nav {
    transition: $transition-base;
    padding-top: 3rem;

    &.navbar-light {

        .logo-light {
            display: none;
        }
    }

    &.navbar-dark {

        .logo-dark {
            display: none;
        }

        &.transparent {
            background-color: transparent;
        }
    }

    .nav-link {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    .dropdown-item {
        text-transform: uppercase;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
    }

    @include media-breakpoint-down(md) {


        .dropdown-menu {
            background-color: transparent;
            border: 0;
            color: $navbar-light-color;
            padding-left: $spacer * 1.5;
        }

        .nav-link,
        .dropdown-item {
            border-bottom: 1px solid;
            padding-left: 0;

            &:hover {
                background-color: transparent;
                text-decoration: underline;
            }
        }

        .nav-link {
            font-size: $font-size-base * 1.125;
            font-weight: $font-weight-bold;
        }

        .dropdown-item:hover {
            color: inherit;
        }
        
        &.navbar-dark {

            .dropdown-item {
                color: $navbar-dark-color;

                &:hover {
                    // background-color: $dark;
                }
            }
        }
    }

}

body {

    &.scrolled {

        #main-nav {
            background-color: rgba( $white, .96 );
            border-bottom: $border-width solid $light;
        }
    }

    &.menu-open #main-nav {
        background-color: $black;
        color: $white;

        a,
        a:hover {
            color: $white;
        }

        .navbar-animated-toggler .slot {
            background-color: $white;
        }

        .logo-bg {
            background-color: $white !important;
            filter: brightness(0) invert(1);
        }
    }

}

.logo-bg {
    transition: $btn-transition;
    width: 111px;
    height: 35px;
    display: block;
    background-color: $black;
    mask-image: url('../img/logo.svg');
    mask-repeat: no-repeat;
    mask-position: center;
}

.navbar-dark .logo-bg {
    background-color: $white;
}